# Grafana data source provisioning for Prometheus
# Place this file in /etc/grafana/provisioning/datasources/

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    # or for local development:
    # url: http://localhost:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 30s
      queryTimeout: 60s
      httpMethod: POST
